:root{
  --background-color:#ECF8F8;
  --primary-color:#20A4F3;
  --secondary-color:#FC440F;
  --light-color: #f7b801;
  --dark-color: #2D2A32;
  --positive-color: #2F9C95;
  --screen-width: 700px;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body{
  font-family: 'Balsamiq Sans', cursive;
  background-color: var(--background-color);
  color:var(--dark-color);
}
