:root{
  --background-color:#faf3dd;
  --primary-color:#ffa69e;
  --secondary-color:#aed9e0;
  --light-color: #b8f2e6;
  --dark-color: #5e6472;
  --screen-width: 700px;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: #333;
}