#weather{
    z-index: 1;
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


#weather .weather-info{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 100%;
}

#weather .weather-diag-bar{
    z-index: 0;
    position: absolute;
    bottom: 0;
    height: 58vh;
    width: 100%;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
    transform: skewY(-10deg);
}